services:
  - type: web
    name: khedma4students-backend
    env: docker
    plan: free
    buildCommand: composer install && php artisan key:generate
    startCommand: ./start.sh
    healthCheckPath: /api/health
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://khedma4students-backend.onrender.com
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        value: dpg-d63akashg0os73cbmdf0-a
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        value: hedma4students_db
      - key: DB_USERNAME
        value: hedma4students_db_user
      - key: DB_PASSWORD
        value: 1x2f71cA90zNhGmUy6owNMud3u4Wtqhf
