services:
  - type: web
    name: khedma4students-backend
    env: docker
    plan: free
    buildCommand: composer install && php artisan key:generate
    startCommand: ./start_with_env.sh
    healthCheckPath: /api/health
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://khedma4students-backend.onrender.com
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        value: dpg-d63akashg0os73cbmdf0-a.oregon-postgres.render.com
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        value: hedma4students_db
      - key: DB_USERNAME
        value: hedma4students_db_user
      - key: DB_PASSWORD
        value: 1x2f71cA90zNhGmUy6owNMud3u4Wtqhf
      - key: DB_SSLMODE
        value: require
      - key: DB_CONNECTION_STRING
        value: postgresql://hedma4students_db_user:1x2f71cA90zNhGmUy6owNMud3u4Wtqhf@dpg-d63akashg0os73cbmdf0-a.oregon-postgres.render.com:5432/hedma4students_db
      - key: MAIL_MAILER
        value: smtp
      - key: MAIL_HOST
        value: smtp.gmail.com
      - key: MAIL_PORT
        value: 587
      - key: MAIL_USERNAME
        value: khedma4students@gmail.com
      - key: MAIL_PASSWORD
        value: vwgguxviwzyhcqck
      - key: MAIL_ENCRYPTION
        value: tls
      - key: MAIL_FROM_ADDRESS
        value: khedma4students@gmail.com
      - key: MAIL_FROM_NAME
        value: Khedma4Students
